## Task 1 - Notebook Setup

# Module 2 Assignment - Data Analysis with Pandas

**Name:** Om Patel
**Student:** 0404791
**Date:** 2025-09-17

**Overview:** In this notebook i import the dataset given to us, wil explore it, clean the data then transform it in format way and save outputs. Each section will start with short explantion along the code cell prints labeled with readble results.

In [ ]:
# Staring with imports
import pandas as pd
import numpy as np



print("Welcome to my First Notebook")

Welcome to my First Notebook

---
## Task 2 - Data Importing
**Goal:** Load the CSV

1. Inspect first five rows 
2. Shape 
3. Column names 
4. dtypes 
5. Duplicate count 
6. Save a copy of changes into Execl

In [8]:
# CSV file path
csv_path = "Dataset_for_Module_2_Assignment.csv"

# Load the CSV file into a DataFrame
df = pd.read_csv(csv_path)

# 1 Display the first five rows 
print("\n=== First Five Rows ===")
print(df.head())

# 2 Display the shape 
print ("\n=== Shape (Rows, Columns) ===")
print(df.shape)

=== First Five Rows ===
   order_id customer_name  order_date  total_amount    status     category region priority
0      1000     Grace Lee  2022-12-27        290.94  shipped     Furniture  North   Medium
1      1001  David Wilson  2022-10-13        369.45   PENDING    furniture  North      Low
2      1002  Henry Martin  2022-09-30        649.46   PENDING    furniture   West      Low
3      1003    Emma Davis  2023-01-04        575.07   Pending       garden   East      Low
4      1004     Grace Lee  2022-03-03        362.54   Shipped  electronics  South     High

=== Shape (Rows, Columns) ===
(502, 8)