## Task 1 - Notebook Setup

# Module 2 Assignment - Data Analysis with Pandas

**Name:** Om Patel
**Student:** 0404791
**Date:** 2025-09-17

**Overview:** In this notebook i import the dataset given to us, wil explore it, clean the data then transform it in format way and save outputs. Each section will start with short explantion along the code cell prints labeled with readble results.

In [ ]:
# Staring with imports
import pandas as pd
import numpy as np

print("Welcome to my First Notebook")

Welcome to my First Notebook

---
## Task 2 - Data Importing
**Goal:** Load the CSV

1. Inspect first five rows 
2. Shape 
3. Column names 
4. dtypes 
5. Duplicate count 
6. Save a copy of changes into Execl

In [ ]:
import pandas as pd

# CSV file path
csv_path = "Dataset_for_Module_2_Assignment.csv"

# Load the CSV file into a DataFrame
df = pd.read_csv(csv_path)

# 1 Display the first five rows 
print("\n=== First Five Rows ===")
print(df.head())

# 2 Display the shape 
print ("\n=== Shape (Rows, Columns) ===")
print(df.shape)

# 3 Display the column names
print("\n=== Column Names ===")
print(df.columns)

# 4 Display the data types of each column
print("\n=== Data Types ===")
print(df.dtypes)

# 5 Display Duplicate count
dup_count = df.duplicated().sum()
print("\n=== Duplicate Count ===")
print(dup_count)

# 6 Save the copy as Excel
excel_copy_path = "Dataset_for_Module_2_Assignment_Copy.xlsx"
df.to_excel(excel_copy_path, index=False)
print(f"\nExcel copy saved to:{excel_copy_path}")

=== First Five Rows ===
   order_id customer_name  order_date  total_amount    status     category  \
0      1000     Grace Lee  2022-12-27        290.94  shipped     Furniture
1      1001  David Wilson  2022-10-13        369.45   PENDING    furniture
2      1002  Henry Martin  2022-09-30        649.46   PENDING    furniture
3      1003    Emma Davis  2023-01-04        575.07   Pending       garden
4      1004     Grace Lee  2022-03-03        362.54   Shipped  electronics

  region priority
0  North   Medium
1  North      Low
2   West      Low
3   East      Low
4  South     High

=== Shape (Rows, Columns) ===
(502, 8)

=== Column Names ===
Index(['order_id', 'customer_name', 'order_date', 'total_amount', 'status',
       'category', 'region', 'priority'],
      dtype='object')

=== Data Types ===
order_id           int64
customer_name     object
order_date        object
total_amount     float64
status            object
category          object
region            object
priority          object
dtype: object

=== Duplicate Count ===
2

Excel copy saved to:Dataset_for_Module_2_Assignment_Copy.xlsx

---
## Task-3 Dataset Exploration
**Goal:** Get overall summary ('info','describe'), checking missing values, count unique values in status and category and also sort by total_amount in descending order.

In [8]:
# 1 Info
print("\n=== DataFrame .info() ===")
print(df.info())

# 2 Descriptive statistics
print("\n=== Descriptive Statistics ===")
print(df.describe)

# 3 Check for missing values
print("\n=== Missing Values ===")
print(df.isna().sum())

# 4 Count unique values in 'status' and 'category' columns
if 'status' in df.columns:
    print("\n=== Unique Values in 'status' ===")
    print(df['status'].nunique())

if 'category' in df.columns:
    print("\n=== Unique Values in 'category' ===")
    print(df['category'].nunique())

# 5 sort by 'total_amount' in descending order using sort_values
if "total_amount" in df.columns:
    print("\nTop 10 by total_amount:")
    print(df.sort_values("total_amount", ascending=False).head(10))

=== DataFrame .info() ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       502 non-null    int64
 1   customer_name  502 non-null    object
 2   order_date     502 non-null    object
 3   total_amount   482 non-null    float64
 4   status         502 non-null    object
 5   category       502 non-null    object
 6   region         502 non-null    object
 7   priority       502 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 31.5+ KB
None

=== Descriptive Statistics ===
<bound method NDFrame.describe of      order_id   customer_name  order_date  total_amount     status  \
0        1000       Grace Lee  2022-12-27        290.94   shipped
1        1001    David Wilson  2022-10-13        369.45    PENDING
2        1002    Henry Martin  2022-09-30        649.46    PENDING
3        1003      Emma Davis  2023-01-04        575.07    Pending
4        1004       Grace Lee  2022-03-03        362.54    Shipped
..        ...             ...         ...           ...        ...
497      1495     Alice Smith  2023-02-28        838.64    PENDING
498      1496       Grace Lee  2023-01-04        700.50   shipped
499      1497       Grace Lee  2022-08-24        683.34   shipped
500      1498  Isabella White  2022-03-24        622.43  Cancelled
501      1499   Charlie Brown  2022-02-11        755.19    Pending

        category region priority
0      Furniture  North   Medium
1      furniture  North      Low
2      furniture   West      Low
3         garden   East      Low
4    electronics  South     High
..           ...    ...      ...
497  electronics   West   Medium
498  electronics  North     High
499       GARDEN  North   Medium
500  Electronics  South      Low
501    Furniture  North     High

[502 rows x 8 columns]>

=== Missing Values ===
order_id          0
customer_name     0
order_date        0
total_amount     20
status            0
category          0
region            0
priority          0
dtype: int64

=== Unique Values in 'status' ===
8

=== Unique Values in 'category' ===
7

Top 10 by total_amount:
     order_id   customer_name  order_date  total_amount     status  \
400      1398  Isabella White  2022-01-01        997.95  Cancelled
193      1191       Grace Lee  2022-12-23        996.91    Pending
450      1448     Alice Smith  2022-11-08        994.96    PENDING
434      1432     Jack Harris  2022-07-26        991.26   shipped
49       1049    Henry Martin  2022-08-11        990.06    PENDING
420      1418      Emma Davis  2022-12-16        987.85    PENDING
357      1355    Frank Thomas  2023-03-26        987.79   shipped
5        1005     Jack Harris  2022-03-25        986.65   shipped
156      1154  Isabella White  2023-02-06        984.99   shipped
278      1276     Alice Smith  2023-03-22        984.56   shipped

        category region priority
400    furniture   West      Low
193    Furniture   West     High
450       GARDEN   East     High
434    Furniture   West      Low
49     furniture   East     High
420  Electronics  North      Low
357       garden   West   Medium
5         GARDEN   East   Medium
156       garden  South      Low
278  Electronics  North   Medium

## Task-4 Data Cleaning 

**Goal:** I am removing duplicate rows, fill missing numbers in the 'total_amount' column with the average,  
and fix text columns ('status' and 'category') so they look consistent.

In [9]:
# work on a copy while cleaning
df_clean = df.copy()

# 1 Remove duplicate rows
df_clean = df_clean.drop_duplicates()

# 2 Fill missing numbers in the 'total_amount' column with the average
if "total_amount" in df_clean.columns:
    df_clean["total_amount"] = pd.to_numeric(df_clean["total_amount"], errors="coerce")
    mean_val = df_clean["total_amount"].mean()
    df_clean["total_amount"] = df_clean["total_amount"].fillna(mean_val)

# 3 Fix text columns ('status' and 'category') so they look consistent
if "status" in df_clean.columns:
    df_clean["status"] = df_clean["status"].str.lower().str.strip()

if "category" in df_clean.columns:
    df_clean["category"] = df_clean["category"].str.title()

# 4 Display cleaned Data
print("Cleaned data preview:")
print(df_clean.head())

Cleaned data preview:
   order_id customer_name  order_date  total_amount   status     category  \
0      1000     Grace Lee  2022-12-27        290.94  shipped    Furniture
1      1001  David Wilson  2022-10-13        369.45  pending    Furniture
2      1002  Henry Martin  2022-09-30        649.46  pending    Furniture
3      1003    Emma Davis  2023-01-04        575.07  pending       Garden
4      1004     Grace Lee  2022-03-03        362.54  shipped  Electronics

  region priority
0  North   Medium
1  North      Low
2   West      Low
3   East      Low
4  South     High

## Task-5 Data Type Conversions & Transformations

**Goal:** I am making sure numbers are the right type, convert dates, create a new column with the year,change text categories into new columns and turn labels into numbers. Saving in new csv file.

In [11]:
from sklearn.preprocessing import LabelEncoder

# Create a copy for final transformations
df_final = df_clean.copy()

# 1 Check if a column exists and convert to numeric
if "total_amount" in df_final.columns:
    df_final["total_amount"] = pd.to_numeric(df_final["total_amount"], errors="coerce")

# 2 Convert 'date' column to datetime
if "order_date" in df_final.columns:
    df_final["order_date"] = pd.to_datetime(df_final["order_date"], errors="coerce")
    df_final["order_year"] = df_final["order_date"].dt.year

# 3 Covert the status and category columns into new columns using one-hot encoding
if "status" in df_final.columns:
    df_final = pd.get_dummies(df_final, columns=["status"])

# 4 Encode priority column into numbers and saves whole cleaned data into a new CSV file
if "priority" in df_final.columns:
    df_final["priority_encoded"] = df_final["priority"].astype("category").cat.codes

df_final.to_csv("Dataset_cleaned.csv", index=False)
print("Saved cleaned dataset as Dataset_cleaned.csv")

Saved cleaned dataset as Dataset_cleaned.csv